<mat-toolbar color="primary">
  <span class="logo">My Product Store</span>
  <span class="spacer"></span>
  <nav class="nav-links">
    <a mat-button *ngIf="authService.isLoggedIn()" routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
    <a mat-button routerLink="/products" routerLinkActive="active-link">Products</a>
    <a mat-button *ngIf="authService.isLoggedIn()" routerLink="/add-product" routerLinkActive="active-link">Add Product</a>
   
    <!-- Show Logout link if logged in -->
    <a mat-button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</a>
  </nav>
</mat-toolbar>
